In [1]:
import pandas as pd
from sklearn.metrics import cohen_kappa_score, accuracy_score, mean_absolute_error, f1_score

In [2]:
df_oof_lgb = pd.read_csv('lgb_oof.csv')
df_oof_xgb = pd.read_csv('xgb_oof.csv')

In [3]:
df_oof_lgb.columns = ['SaleID', 'price', 'lgb_pred']
df_oof_xgb.columns = ['SaleID', 'price', 'xgb_pred']

In [4]:
df_oof_lgb.head()

   SaleID    price    lgb_pred
0       3   2400.0   3612.5217
1       7   1000.0    907.5410
2      12   1600.0   1358.7361
3      16  10500.0  23906.9300
4      23    599.0    937.7173

In [5]:
df_oof_xgb.head()

   SaleID    price     xgb_pred
0       3   2400.0   2984.63530
1       7   1000.0   1001.40240
2      12   1600.0   1649.81560
3      16  10500.0  10485.24000
4      23    599.0    541.96155

In [6]:
del df_oof_lgb['price']
df_oof = df_oof_xgb.merge(df_oof_lgb, on='SaleID', how='left')

In [7]:
df_oof.head()

   SaleID    price     xgb_pred    lgb_pred
0       3   2400.0   2984.63530   3612.5217
1       7   1000.0   1001.40240    907.5410
2      12   1600.0   1649.81560   1358.7361
3      16  10500.0  10485.24000  23906.9300
4      23    599.0    541.96155    937.7173

In [8]:
df_oof['pred'] = 0.45 * df_oof['xgb_pred'] + 0.55 * df_oof['lgb_pred']

In [9]:
mae = mean_absolute_error(df_oof['price'], df_oof['pred'])
print('mae:', mae)

mae: 2078.774093639886

In [10]:
df_sub_lgb = pd.read_csv('lgb.csv')
df_sub_xgb = pd.read_csv('xgb.csv')

In [11]:
df_sub_xgb.head()

   SaleID         price
0  150000  32203.112279
1  150001    327.954178
2  150002   5767.217929
3  150003  11524.863677
4  150004    640.850384

In [12]:
df_sub_lgb.columns = ['SaleID', 'lgb_pred']
df_sub_xgb.columns = ['SaleID', 'xgb_pred']

In [13]:
df_sub = df_sub_xgb.merge(df_sub_lgb, on='SaleID', how='left')

In [14]:
df_sub

       SaleID      xgb_pred      lgb_pred
0      150000  32203.112279  31630.973295
1      150001    327.954178    332.198279
2      150002   5767.217929   5748.966332
3      150003  11524.863677  11208.232378
4      150004    640.850384    646.683380
...       ...           ...           ...
49995  199995   2917.859148   3014.241714
49996  199996   1493.855060   1399.720483
49997  199997   7177.348285   7543.108677
49998  199998  10366.108635  10010.799392
49999  199999   3479.532179   3467.922614

[50000 rows x 3 columns]

In [15]:
df_sub['price'] = 0.45 * df_sub['xgb_pred'] + 0.55 * df_sub['lgb_pred']

In [16]:
df_sub.to_csv('ronghe.csv', index=False, encoding='utf-8')